<mat-toolbar class="navbar">
      <div class="navbar-brand">
        <mat-icon class="brand-icon">emoji_events</mat-icon>
        <span class="brand-name">Employee Rewards App</span>
      </div>
      <div class="nav-links">
        <a mat-button routerLink="/dashboard" routerLinkActive="active-link">
          <mat-icon>dashboard</mat-icon> Dashboard
        </a>
        <a mat-button routerLink="/employees" routerLinkActive="active-link">
          <mat-icon>people</mat-icon> Employees
        </a>
        <a mat-button routerLink="/rewards" routerLinkActive="active-link">
          <mat-icon>star</mat-icon> Rewards
        </a>
      </div>
    </mat-toolbar>